.position-relative {
  position: relative;
}

.field-icon {
  position: absolute !important;
  top: 93px !important;
  right: -8px !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  z-index: 2 !important;
  font-size: 20px !important;
}

input[type="password"],
input[type="text"] {
  padding-right: 2.5rem;
}

#firstName-field {
  margin-bottom: 0;
}
#lastName-field {
  margin-bottom: 0;
}
#email-field {
  margin-bottom: 0;
}
#password-field {
  margin-bottom: 0;
}
#confirm-password-field {
  margin-bottom: 0;
}
