.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transform: translateY(100%);
}

#firstName-field {
  margin-bottom: 0;
}
#lastName-field {
  margin-bottom: 0;
}
#email-field {
  margin-bottom: 0;
}
#password-field {
  margin-bottom: 0;
}
#confirm-password-field {
  margin-bottom: 0;
}
